<div class="w-full max-w-5xl grid grid-cols-1 lg:grid-cols-2 gap-4 my-0 lg:mx-0 p-0  text-gray-700">

    {% if quicklinks.links %}

        {% for item in quicklinks.links %}
            <a href="{{item.url}}" target="_blank" class="bg-orange-300 rounded-xl overflow-hidden">
                <div class="flex gap-3 items-center">
                    <img src="{{item.img}}" alt="" class="w-72 h-56 border p-6">
                    <div class="flex-1"> <h3>{{item.title}} →</h3>
                        <p class="">{{item.desc}}</p>
                    </div>
                </div>
            </a>
        {% endfor %}

    {% endif %}

</div>
