<div class="w-full h-20 bg-gray-900 fixed -top-6 z-50"></div>
<div class="bg-amber-300 w-full h-12 z-50 top-6 fixed">
    <nav class="flex items-center justify-center md:justify-between flex-wrap p-0 lg:px-0 max-w-6xl mx-auto drop-shadow-md md:drop-shadow-none" x-data="{ isOpen: false }" @keydown.escape="isOpen = false"  @click.away="isOpen = false">
        <!--Logo etc-->
        <div class="flex items-center h-12">
            <a href="/" class="text-indigo-500 font-bold text-lg -top-6 absolute">
                <img src="/static/img/logo.svg" alt="Lica Academy" class="h-24">
            </a>
        </div>

        <!--Toggle button (hidden on large screens)-->
        <button @click="isOpen = !isOpen" type="button" class="ml-auto block lg:hidden px-2 text-primary-500 hover:text-primary-500 focus:outline-none focus:text-primary-500" :class="{ 'transition transform-180': isOpen }" aria-label="Menu">
            <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                <path x-show="isOpen" fill-rule="evenodd" clip-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
                <path x-show="!isOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
            </svg>
        </button>

        <!--Menu-->
        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto font-semibold text-center rounded-2xl" :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }" x-show.transition="true">
            {% if navigation.items %}

                <ul class="list-reset lg:pt-0 lg:flex lg:justify-end flex-1 items-center">
                    {% for item in navigation.items %}
                        <li class="nav__item my-0.5 w-1/2 lg:w-fit mx-auto lg:mx-0 bg-amber-300 xborder">
                            <a @click="isOpen = false" class="text-ml inline-block text-red-500 no-underline hover:text-gray-500 pt-2 pb-1 px-5" href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>

            {% endif %}
        </div>
    </nav>
</div>
